<nav class="bg-dark text-light d-flex align-items-center justify-content-between">
  <div class="nav nav-pills" id="nav-pills" role="tablist">
    <button class="home-btn m-2 nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="home-btn m-2 nav-link" id="nav-roadmap-tab" data-bs-toggle="tab" data-bs-target="#nav-roadmap" type="button" role="tab" aria-controls="nav-roadmap" aria-selected="false">Roadmap</button>
    <button class="home-btn m-2 nav-link" id="nav-about-me-tab" data-bs-toggle="tab" data-bs-target="#nav-about-me" type="button" role="tab" aria-controls="nav-about-me" aria-selected="false">About Me</button>
    <button class="home-btn m-2 nav-link" id="nav-contacts-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="false">Contacts</button>
  </div>
  <%= link_to 'Customer login', user_session_path, class: "btn btn-secondary m-2" %>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <%= render "home_content" %>
  </div>
  <div class="tab-pane" id="nav-roadmap" role="tabpanel" aria-labelledby="nav-roadmap-tab" tabindex="0">
    <%= render "roadmap" %>
  </div>
  <div class="tab-pane" id="nav-about-me" role="tabpanel" aria-labelledby="nav-about-me-tab" tabindex="0">
    <%= render "about_me" %>
  </div>
  <div class="tab-pane" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab" tabindex="0">
    <%= render "contacts" %>
  </div>
</div>
