<div class="card" style="width: 100%; max-width: 400px; margin: auto; margin-top: 50px;">
  <div class="card-header d-flex justify-content-center align-items-center">
    <h5 class="card-title">Add New User</h5>
  </div>
  <div class="card-body">
    <%= form_with(model: @user, url: admin_registrations_path, local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
      
      <%= f.label "Role:" %>
      <%= f.select :role, User.role_options.keys.map { |role| [role.humanize, role] },{}, { class: "form-control"} %>
      <div class="form-actions text-end mt-3">
        <%= f.submit "Create User", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
