<!DOCTYPE html>
<html>
  <head>
    <title>QualiTrackr</title>
    <link rel="icon" type="image/png" href="/assets/quality.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API"] %>&callback=console.debug&libraries=maps,marker&v=beta"></script>
    <script src="https://unpkg.com/@googlemaps/webcomponents@latest/dist/index.js"></script>
    <%= render "shared/cdn_links" %>
  </head>

  <body>
    <% unless @no_default_navbar%>
      <div class="mb-2">
        <%= render "shared/nav" %>
      </div>

      <div class="mb-2">
        <%= render "shared/flash" %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
  <br>
  <footer>
    <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Icons created by Freepik - Flaticon</a>
  </footer>
</html>
